
.usersContainer ul{
    list-style: none;
}

.formContainer{
    display: flex;
    margin-top:25px;
    margin-bottom: 50px;
    position:relative;
}

.formContainer input{
    font-family: inherit;
    padding: 6px;
    margin-right: 5px;
}

.formContainer p {
    font-weight: bold;
    color:red;
    position:absolute;
    top:75%;
}

.userBox{
    line-height: 1.8;
    margin-left:-10px;
    margin-left:-40px;
}